*.DS_Store
.python-version
*.ipynb_checkpoints

*__pycache__
*.mypy_cache
*.cache

*.coverage
*coverage.xml

*geckodriver.log

venv
.idea

data
materials
postgres

#web3-backend
node_modules
.env
coverage
coverage.json
typechain
typechain-types
web3-backend/disputes

#Hardhat files
cache
artifacts
yarn-error.log
